<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>712072373952-11fa5ack6ubbdjsqjnc8hcu7junr4dos.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.712072373952-11fa5ack6ubbdjsqjnc8hcu7junr4dos</string>
	<key>API_KEY</key>
	<string>AIzaSyA6biqVAsJVmRQjKsKf3wS7hJXteov8seE</string>
	<key>GCM_SENDER_ID</key>
	<string>712072373952</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tenfins.flutterplanet</string>
	<key>PROJECT_ID</key>
	<string>flutter-planet</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-planet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:712072373952:ios:af9285f4b4aa21d694af25</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-planet.firebaseio.com</string>
</dict>
</plist>